.section.Vinhetas{

    margin-left: 20px;
    margin-right: 20px;
   margin-top: -100px;
}

.section.Vinhetas img{
       border-radius: 4px;
  
}
.section.Vinhetas .tile {
   margin: 10px;
}
.section.Vinhetas .tile figure{
   margin: 10px;
}
.section.Vinhetas .tile.nivel1{
  position: relative;
    bottom: 50px;
}

.section.Vinhetas .tile.nivel2{
 position: relative;
    bottom: 70px;
}
.section.Vinhetas .tile.nivel3{
   position: relative;
    bottom: 40px;
}
.section.Vinhetas .tile.nivel4{
     position: relative;
    bottom: 20px;
}
@media screen and (max-width:768px){
    
    .section.Vinhetas .tile.is-ancestor{
        display: flex;
        flex-direction: column;
        float: left;
    }
    .section.Vinhetas .tile.is-vertical{
        display: flex;
        flex-direction: row;
        float: left;
            
    }
    
    
}